* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

.nav {
    background-color: #005f73;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks ul {
    list-style: none;
    display: flex;
}

.navlinks ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

.navlinks ul li a:hover {
    background-color: #cbf3f0;
}

.header {
    text-align: center;
    padding: 20px;
}

input[type="search"] {
    padding: 8px;
    width: 30%;
    margin-top: 10px;
}

.main .category {
    margin: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px}